<!--<nav class="navbar navbar-example navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">-->
<!--      <a class="nav-item nav-link px-0 me-xl-4" (click)="show()">-->
<!--        <i class="bx bx-menu bx-sm"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--    <a class="navbar-brand" href="javascript:void(0)">ERA Management System</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-2"-->
<!--            aria-controls="navbar-ex-2" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbar-ex-2">-->
<!--      <div class="navbar-nav me-auto">-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" href="javascript:void(0)">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link" href="javascript:void(0)">Administration</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link" href="javascript:void(0)">Contact</a>&ndash;&gt;-->
<!--      </div>-->

<!--      <span><a class="nav-item nav-link">-->
<!--        <Button class="btn btn-link" routerLink="/home">Home</Button>-->
<!--        <Button class="btn btn-link" >Administration</Button>-->
<!--        <Button class="btn btn-link" routerLink="/login" *ngIf="notAuthenticated()">Login</Button>-->
<!--        <Button class="btn btn-link" (click)="logout()" *ngIf="isAuthenticated()">Logout</Button></a> </span>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarRightAlignExample"
            aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <h6 class="fw-bold py-3 mb-1">
        <span class="text-muted fw-light">{{ path }}</span> {{ subPath }}
      </h6>

      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home/dashboard">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/login">Logout</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
