<body>


<!-- Content -->

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <p class="text-center">
            <img src="assets/img/icons/brands/erams.jpg" width="75" height="75">
          </p>
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2">
              <span class="app-brand-text demo text-body fw-bolder">ERA Management System</span>
            </a>
          </div>
          <!-- /Logo -->

          <h4 class="mb-2">Welcome to ERA!</h4>
          <p class="mb-4">Please sign-in to your account and start the adventure</p>

          <form id="formAuthentication" class="mb-3" [formGroup]="user" (ngSubmit)="login()">
            <div class="alert alert-danger" role="alert" *ngIf="error">
              <i class="bx bx-error-circle" style="color: red"></i> {{ errorMessage }}
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Username</label>
              <input type="text" class="form-control" id="email" name="UserName" formControlName="UserName"
                     placeholder="Enter your username" autofocus>
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text text-danger">
                Username required
              </div>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <a routerLink="/forget-password">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="Password" formControlName="Password"
                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                       aria-describedby="password"/>
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide" (click)="hideShow()"></i></span>
              </div>
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                <div *ngIf="password?.errors?.['required']">
                  Password required
                </div>
                <div *ngIf="password?.errors?.['minlength']">
                  Password must be at least 4 character
                </div>
              </div>

            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
            </div>
          </form>

        </div>
      </div>
      <!-- /Register -->
    </div>
  </div>
</div>

<!-- / Content -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->


<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="../../../buttons.github.io/buttons.js"></script>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
</body>
