<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Password Reset</h5>
          <p class="card-text">Your new password successfully sent. Check your email to get new password</p>
          <div class="text-center">
            <a routerLink="/login" class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              Back to login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
